#sidebar {
    width: 100px;

    background-color: var(--bg-color);
    box-shadow: var(--box-shadow-1);
    border: var(--border-1);
    border-radius: 24px 0 0 24px;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    transition: 0.4s ease;
    will-change: width, padding-left, padding-right, overflow-x;
}

#nav-list {
    margin-top: 24px;

    overflow-y: scroll;
}

.brand {
    border-bottom: 2px var(--acsent-color-1) solid;
    will-change: auto;
}

.brand > #smaller-title {text-align: center; display: none;}

.brand > #smaller-logo {transform: scale(.55); transition: .5s ease;}

#sidebar.active {
    width: 328px;

    padding-left: 12px;
    padding-right: 10px;

    overflow-x: hidden;
}

#sidebar.active > ul {width: 240px; padding-left: 4px;}

@media (max-width: 440px) {
    #sidebar {
        width: 77.5px;
    }
    #sidebar.active {
        width: 280px;
    
        padding-left: 18px;
    
        overflow-x: unset;
    }    
}

.brand.active {
    justify-content: space-between;
    gap: 8px;

    padding: 16px 0 8px 0;
}

.brand.active > #smaller-logo {transform: scale(1);}
.brand.active > #smaller-title {display: block;}