.sq {
    width: var(--circle-size-1);
    height: var(--circle-size-1);

    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.4);

    transition: .5s ease;
}

.sq0 {
    width: calc(var(--circle-size-1)*2);
    height: calc(var(--circle-size-1)*2);

    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;

    transform: rotate(45deg);
    transition: 35s ease;
}

.sq1 {background-color: #ffc719;}
.sq2 {background-color: #ae2000;}
.sq3 {background-color: #004eff;}
.sq4 {background-color: #fa0010;}

#logo:hover .sq0 > .sq {width: var(--circle-size-2); height: var(--circle-size-2); border-radius: 50%;}

#logo:hover .sq0 {transform: rotate(10845deg);}

#logo {
    width: calc(var(--circle-size-1)*2.85);
    height: calc(var(--circle-size-1)*2.85);

    border-radius: 50%;
}

@media (min-width: 320px) {
    :root {
        --circle-size-1: 36px;
        --circle-size-2: 24px;
    }
    #logo {
        width: 102.6px;
        height: 102.6px;
    }
}

@media (min-width: 576px) {
    :root {
        --circle-size-1: 36.5px;
        --circle-size-2: 24.5px;
    }
    #logo {
        width: 104.025px;
        height: 104.025px;
    }
}

@media (min-width: 868px) {
    :root {
        --circle-size-1: 40px;
        --circle-size-2: 28px;
    }
    #logo {
        width: 114px;
        height: 114px;
    }
}

@media (min-width: 992px) {
    :root {
        --circle-size-1: 42px;
        --circle-size-2: 30px;
    }
    #logo {
        width: 119.7px;
        height: 119.7px;
    }
}

@media (min-width: 1440px) {
    :root {
        --circle-size-1: 44px;
        --circle-size-2: 32px;
    }
    #logo {
        width: 125.4px;
        height: 125.4px;
    }
}