#login {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow-1);
    border: var(--border-1);
    border-radius: 12px;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    display: flex;
    flex-direction: column;

    transition: all .05s ease-in-out;
}


@media (max-height: 610px) and (orientation: landscape) {
    #login {
        min-width: 70vw;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

        padding-left: 30px;

        transform: scale(.825);
    }
}

@media (min-height: 611px) and (max-height: 899px) and (orientation: landscape) {
    #login {
        width: 328px;

        transform: scale(.9);
    }
}

@media (max-width: 440px) and (orientation: portrait) {
    #login {
        max-width: 82.5vw;

        transform: scale(.875);
    }
}

@media (min-width: 1024px) and (max-width: 1440px) and (min-height: 641px) {
    #login {
        transform: scale(.9);
    }
}

@media (min-height: 900px) and (max-height: 1280px) and (orientation: portrait) {
    #login {
        width: 328px;
        transform: scale(1);
    }
}

@media (min-width: 1440px) {
    #login {
        transform: scale(1);
    }
}