#recover {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow-1);
    border: var(--border-1);
    border-radius: 12px;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    display: flex;
    flex-direction: column;

    transition: all .05s ease-in-out;
}

#recoveryTitle {
    color: var(--acsent-color-1);
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, .5); */
    text-shadow: var(--text-shadow-1);
    transform: scale(1.085);
}

#hint {
    color: var(--acsent-color-1);
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, .6); */
    text-shadow: var(--text-shadow-1);
    max-width: 280px;
}

.remindText {
    text-shadow: var(--text-shadow-1);
    max-width: 280px;
}

@media (max-height: 610px) and (orientation: landscape) {
    #recover {
        min-width: 70vw;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

        padding-left: 30px;

        transform: scale(.825);
    }
}

@media (min-height: 611px) and (max-height: 899px) and (orientation: landscape) {
    #recover {
        width: 328px;

        transform: scale(.9);
    }
}

@media (max-width: 440px) and (orientation: portrait) {
    #recover {
        max-width: 82.5vw;

        transform: scale(.875);
    }
}

@media (min-width: 1024px) and (max-width: 1440px) and (min-height: 641px) {
    #recover {
        transform: scale(.9);
    }
}

@media (min-height: 900px) and (max-height: 1280px) and (orientation: portrait) {
    #recover {
        width: 328px;

        transform: scale(1);
    }
}

@media (min-width: 1440px) {
    #recover {
        transform: scale(1);
    }
}